@import "../../variables.scss";

.search-header {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    max-width: 1440px;
    height: 350px;
    background-image: $img-bg-search-header;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.5s;
}

.search-header-form {
    input {
        border-radius: 3px;
        margin-right: 1.25rem;
        width: 530px;
        height: 55px;
        border: none;
        outline: none;
        padding: 1rem;
        font-size: 1.25rem;
        &:hover, &:focus-within /* works but prevents W3C validation*/ {
            box-shadow: inset 0px 0px 2px 1px #999;
        }
    }
}