@import "../../variables.scss";

.search-header {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    max-width: 1440px;
    height: 350px;
    background-image: $img-bg-search-header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-header-form {
    input {
        margin-right: 1.25rem;
        width: 530px;
        height: 55px;
    }
}