.profile-wrapper {
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1440px;
}
.profile-info {
  flex-grow: 1;
  .profile-picture-me {
    width: 125px;
  }
}
.profile-reviews-me-list {
  flex-grow: 4;
}
.profile-reviews-me {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .time {
      font-size: 0.8em;
    }
  }
  .star {
  }
  .text {
  }
}
.profile-about {
  flex-grow: 1;
  .about-name {
    font-size: 2em;
  }
  .about-list {
    margin-top: 20px;
  }
}
.profile-short-info {
  .profile-short-info-name {
    font-size: 1.3em;
    font-style: bold;
    .profile-short-info-short {
      margin: 100px;
    }
  }
}
