@import "../../variables.scss";


.search-controls-nav-wrapper {
    // max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2px;

    .search-controls-form {
        width: 100%;
        display: flex;
        flex-grow: 1;
        height: 50px;
        input, select {
            color: #aaa;
            outline: none;
            border: none;
            box-shadow: 0 0 1px 0 rgba(0,0,0,0.14);
            font-size: 1.25rem;
            &:hover, &:focus-within /* works but prevents W3C validation*/ {
                box-shadow: inset 0 0 3px 1px rgba(187, 187, 187, 0.397);
            }
        }
        input {
            flex-grow: 1;
            padding-left: 30px;
            margin-right: 2px;
        }
        select {
            padding-left: 37px;
            width: 300px;
        }
    }

    .search-controls-nav {
        display: inline-block;
        margin: 0 auto;
        margin-top: 1.1875rem;
        margin-bottom: 57px;
        height: 47px;
        a {
            text-align: center;
            width: 200px;
            height: calc(100% - 3px);
            font-size: 1.25rem;
            display: inline-block;
            transition: box-shadow 0.15s;
            color: #111;
            &:hover {
                box-shadow: 0 23px 0 -20px $color-orange-light;
            }
            &.nav-active {
                box-shadow: 0 23px 0 -20px $color-orange;
                font-weight: 600;
            }
        }
    }
}

