@import "../../variables.scss";


.best-restaurant-list {
    width: var(--max-width-x);
    margin: 0 auto;
    text-align: center;
    h2 {
        box-shadow: 0 8px 0 -8px;
        font-size: 1.5rem; 
        margin-bottom:10px;
        text-transform: uppercase;
        display: inline-block;
    }
    .best-restaurant-list-heading-underline {
        background-color: var(--color-orange);
        display: block;
        margin: 0 auto;
        margin-bottom: 42px;
        width: 265px;
        height: 4px;
    }
}