.main-footer {
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14);
    margin-top: auto;
    width: 100%;
    background-color: white;
    .main-footer-nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 1rem 30px;
        align-items: center;
        border-bottom: 1px solid grey;
        .main-footer-nav-left a { margin-right: 75px; }
        .main-footer-nav-right a {
            margin-left: 22px;
            border-radius: 100%;
        }
        a {
            color: black;
            font-size: 20px;
        }
    }
    .main-footer-nav-copyright {
        margin: 0;
        font-size: 14px;
        padding: 10px 30px;
    }
}
