$color-bg: #f8f8f8;
$color-orange: #E47D31;
$color-orange-light: rgba(228, 124, 49, 0.8);
$color-orange-strong: #c96722;
$color-star-full: #f8e71c;
$color-star-empty: rgba(235, 235, 235, 0.5);
$color-footer-nav: #646363;
$color-header-logo: #000;
$color-header-nav: #4a4a4a;
$color-heading: #4c4c4c;

// bg image of the search header in Home
$img-bg-search-header: url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
$img-bg-restaurant-placeholder: url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1440&q=80');
$content-max-width-desktop: 1200px;

// might be used for some media queries 
$max-width-s: 330px;
$max-width-m: 600px;
$max-width-l: 900px;
$max-width-x: 1200px;


// not sure about this approach. You use variables either with: $varname or var(--varname)
:root {
    --color-bg: #{$color-bg};
    --color-orange: #{$color-orange};
    --color-orange-light: #{$color-orange-light};
    --color-orange-strong: #{$color-orange-strong};
    --color-star-full: #{$color-star-full};
    --color-star-empty: #{$color-star-empty};
    --color-footer-nav: #{$color-footer-nav};
    --color-header-logo: #{$color-header-logo};
    --color-header-nav: #{$color-header-nav};
    --color-heading: #{$color-heading};
    
    --img-bg-search-header: #{$img-bg-search-header};
    --img-bg-restaurant-placeholder: #{$img-bg-restaurant-placeholder};
    --content-max-width-desktop: #{$content-max-width-desktop};

    --max-width-s: #{$max-width-s};
    --max-width-m: #{$max-width-m};
    --max-width-l: #{$max-width-l};
    --max-width-x: #{$max-width-x};

}